ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #706d6d;
}
ul li
{
 float:left;
}
ul li a
{
    color: #cac7c7;
    display: block;
    padding: 14px 16px;
    text-decoration:none;
    font-family: "Merriweather Sans", sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}
a:hover
{
    color: aqua;
}
h1
{
    font-family: "Merriweather Sans", sans-serif;
}
p
{
    text-align: justify;
    font-family: "Ovo", serif;
    font-size: 17px;
}
